// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00BBEC;
$yellow: #FFC65A;
$orange: #E76739;
$green: #1EDD88;
$black: #0E0000;
$gray: #666;
$light-gray: #F4F4F4;

$light-blue: #d9eff5;
$white: #FFF;
$brown: #26100a;
$blood-orange: #ff4413;
