- content_for :title, 'DnD 5e kartotéka předmětů'
- content_for :meta_title, 'DnD 5e kartotéka předmětů'

h1.mt-5 DnD 5e kartotéka předmětů
= render 'shared/form/subtitle'
= render 'dnd/items/filters'

.accordion.custom-accordion
  = render partial: 'dnd/items/item', collection: @elements
