.form-background {
  background-color: $white;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.delimiter {
  border-bottom: 2px solid $primary;
}

.custom-accordion {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
}

.multiselect-height {
  height: 92px;
}
